<hr class="featurette-divider" id="mscc">
<div class="featurette">
    <img class="featurette-image pull-right img-circle fixed2" src="img/mscc2013.png" alt="Since 2013 - Mauritius Software Craftsmanship Community" title="Mauritius Software Craftsmanship Community is the largest IT community in Mauritius." />
    <h2 class="featurette-heading">What is the MSCC?<br /><span class="muted">Mauritius Software Craftsmanship Community</span></h2>
    <p>
        The MSCC is a community for those who care and are proud of what they do. For those developers, regardless how experienced they are, who want to improve and master their craft.
    </p>
    <p>
        It is a community for those who believe that being average is just not good enough.
    </p>
    <p class="lead">Join the community and stay informed.</p>
</div>
