<hr class="featurette-divider" id="pr-material" />
<div class="featurette pr">
    <h2 class="featurette-heading">Press material<br /><span class="muted">Free to use. Create awareness...</span></h2>
    <p>
        In order to create more awareness for the Developers Conference we prepared a variety of media files at your disposal.
        Please feel free to use the material to your liking and help us to make this an outstanding and remarkable developers
        conference.
    </p>
    <!--<p>
        The Developers Conference has been mentioned in the following list of articles:
    </p>
    <ul>
    </ul>-->
</div>

<!--<hr class="featurette-divider" id="newsletter" />
<div class="featurette newsletter">
    <h2 class="featurette-heading">Newsletter<br /><span class="muted"></span></h2>
    <ul class="thumbnails">
        <li class="">
            <a href="public/DevelopersConference-2_EN.pdf">
                <img src="public/DevelopersConference-2.png" alt="English Newsletter of 27.03.2015 (PDF)" title="English Newsletter of 27.03.2015 (PDF)" />
            </a>
            <ul>
                <li><a href="public/DevelopersConference-2_EN.pdf">27.03.2015 - English (PDF)</a></li>
            </ul>
        </li>
        <li class="">
            <a href="public/DevelopersConference-1_EN.pdf">
                <img src="public/DevelopersConference-1.png" alt="English Newsletter of 25.02.2015 (PDF)" title="English Newsletter of 25.02.2015 (PDF)" />
            </a>
            <ul>
                <li><a href="public/DevelopersConference-1_EN.pdf">25.02.2015 - English (PDF)</a></li>
                <li><a href="public/DevelopersConference-1_FR.pdf">25.02.2015 - French (PDF)</a></li>
            </ul>
        </li>
    </ul>
</div>

<hr class="featurette-divider" id="banner" />
<div class="featurette banners">
    <h2 class="featurette-heading">Banner<br /><span class="muted">Sharing is Caring... Spread the word</span></h2>
    <p class="lead">
        We have worked hard and prepared some banners for you to promote the Developers Conference.
    </p>
    <p>
        Either use the HTML source code or download the banner image you would like to have (right-click to "Download" or "Save as") and
        put them on your website, blog or forum with a link back to the conference website. Thanks!
    </p>
    <p>
        &nbsp;
    </p>
    <ul class="thumbnails">
        <li class="">
            <img src="public/bepartofit-landscapehigh.jpg" />
            <h3>Be Part Of It - Landscape (728x210px)</h3>
            <p>
                <pre>
&lt;a href="http://www.devconmru.org" target="_blank" 
      title="Developers Conference 2015 - Mauritius, 20th - 22nd May, Bagatelle, Mauritius"&gt;
  &lt;img src="http://www.devconmru.org/public/bepartofit-landscapehigh.jpg" /&gt;
&lt;/a&gt;</pre>
            </p>
        </li>
        <li class="">
            <img src="public/bepartofit-landscape.jpg" />
            <h3>Be Part Of It - Landscape (728x90px)</h3>
            <p>
                <pre>
&lt;a href="http://www.devconmru.org" target="_blank" 
      title="Developers Conference 2015 - Mauritius, 20th - 22nd May, Bagatelle, Mauritius"&gt;
  &lt;img src="http://www.devconmru.org/public/bepartofit-landscape.jpg" /&gt;
&lt;/a&gt;</pre>
            </p>
        </li>
        <li class="">
            <img src="public/bepartofit-landscapesmall.jpg" />
            <h3>Be Part Of It - Landscape (468x58px)</h3>
            <p>
                <pre>
&lt;a href="http://www.devconmru.org" target="_blank" 
      title="Developers Conference 2015 - Mauritius, 20th - 22nd May, Bagatelle, Mauritius"&gt;
  &lt;img src="http://www.devconmru.org/public/bepartofit-landscapesmall.jpg" /&gt;
&lt;/a&gt;</pre>
            </p>
        </li>
        <li class="">
            <img src="public/devcon-landscapesmall.png" />
            <h3>Developers Conference - Landscape (468x58px)</h3>
            <p>
                <pre>
&lt;a href="http://www.devconmru.org" target="_blank" 
      title="Developers Conference 2015 - Mauritius, 20th - 22nd May, Bagatelle, Mauritius"&gt;
  &lt;img src="http://www.devconmru.org/public/devcon-landscapesmall.png" /&gt;
&lt;/a&gt;</pre>
            </p>
        </li>
        <li class="">
            <img src="public/bepartofit-skyscraper.jpg" />
            <h3>Be Part Of It - Skyscraper (160x600px)</h3>
            <p>
                <pre>
&lt;a href="http://www.devconmru.org" target="_blank" 
      title="Developers Conference 2015 - Mauritius, 20th - 22nd May, Bagatelle, Mauritius"&gt;
  &lt;img src="http://www.devconmru.org/public/bepartofit-skyscraper.jpg" /&gt;
&lt;/a&gt;</pre>
            </p>
        </li>
        <li class="">
            <img src="public/bepartofit-square.jpg" />
            <h3>Be Part Of It - Square (336x280px)</h3>
            <p>
                <pre>
&lt;a href="http://www.devconmru.org" target="_blank" 
      title="Developers Conference 2015 - Mauritius, 20th - 22nd May, Bagatelle, Mauritius"&gt;
  &lt;img src="http://www.devconmru.org/public/bepartofit-square.jpg" /&gt;
&lt;/a&gt;</pre>
            </p>
        </li>
    </ul>
</div>

<hr class="featurette-divider" id="poster" />
<div class="featurette banner">
    <h2 class="featurette-heading">Poster<br /><span class="muted"></span></h2>
    <ul class="thumbnails">
        <li class="">
            <a href="public/poster-1.jpg"><img src="public/poster-1-thumb.png" alt="DevConMru - Poster #1" /></a>
            <h3>Poster #1</h3>
        </li>
        <li>
            <a href="public/poster-2.jpg"><img src="public/poster-2-thumb.jpg" alt="DevConMru - Poster #2" /></a>
            <h3>Poster #2</h3>
        </li>
    </ul>
</div>-->

<hr class="featurette-divider" />
