<hr class="featurette-divider" id="registration" />
<div class="featurette registration">
    <h2 class="featurette-heading">
        Registration is open<br />
        <span class="muted">until 15. May 2016 - 23:59 hrs.</span>
        <!--Registration is no longer open - See you next year :)<br /><span class="muted">Closed as from 15. May 2016 - 23:59 hrs</span>-->
    </h2>
    <div class="google-form">
        <iframe class="form-iframe registration" src="https://docs.google.com/forms/d/13-YWPYM28f8zXw9NZhRfkPmEPs2h2-fUkfTScF11i1Y/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <iframe class="form-iframe registration" src="https://docs.google.com/forms/d/1HfYQSHSXBD0soEfqfM_GTpmI4M34s3KwHMh6LVATguk/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <div class="form-overlay">
            The MSCC Developers Conference 2016 will offer three days of technical sessions presented by members of our community, as well as passionate developers in the field of IT.
            Attendance to technical sessions and side activities is free of charge.
        </div>
    </div>
</div>
