<hr class="featurette-divider" id="support" />
<div class="featurette">
    <ul class="thumbnails">
        <li>
            <h2 class="featurette-heading">Your Support is important<br /><span class="muted">Sponsorship &amp; Partner Opportunities</span></h2>
            <p class="">
                There are also openings for event sponsors. We have a wide variety of sponsorship opportunities ranging from the Platinum Level
                which includes half day boot camps, speaking sessions on the main stage and more, to the Bronze Level which provides branding
                opportunities and enables organizations to interact with attendees in the Community Pavilion.
            </p>
            <p class="">
                For any further information or confirmation of sponsoring, please feel free to contact us at <a href="mailto:sponsorship@devconmru.org">sponsorship@devconmru.org</a>.
            </p>
        </li>
    </ul>
</div>
